<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Setup:/Network/Interface/[^/]+</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIpxWtp/AAA=
		</data>
		<array>
			<integer>45827</integer>
		</array>
	</array>
	<key>Setup:/Network/Interface/[^/]+/AirPort</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA8FpAWtp/AAA=
		</data>
		<array>
			<integer>15911</integer>
		</array>
		<string>Setup:/Network/Interface/en0/AirPort</string>
	</array>
	<key>Setup:/Network/Interface/[^/]+/EAPOL</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYM5RWtp/AAA=
		</data>
		<array>
			<integer>44891</integer>
		</array>
	</array>
	<key>Setup:/Network/Interface/[^/]+/Ethernet</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAcFlAWtp/AAA=
		</data>
		<array>
			<integer>15911</integer>
		</array>
	</array>
	<key>Setup:/Network/Interface/[^/]+/FireWire</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAcGFAWtp/AAA=
		</data>
		<array>
			<integer>15911</integer>
		</array>
	</array>
	<key>Setup:/Network/Service/(null)/IPv4</key>
	<array>
		<data>
		ZfIAAAAAAAABAAAAAAAAAAAAAAAAAAAAwKFyWtp/AAA=
		</data>
		<array>
			<integer>88851</integer>
			<integer>90115</integer>
		</array>
	</array>
	<key>Setup:/Network/Service/(null)/IPv6</key>
	<array>
		<data>
		ZfIAAAAAAAABAAAAAAAAAAAAAAAAAAAAYKZyWtp/AAA=
		</data>
		<array>
			<integer>88851</integer>
			<integer>90115</integer>
		</array>
	</array>
	<key>Setup:/Network/Service/215A515C-60D6-4A1C-811B-7393895F072F/IPv4</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAsHpBWtp/AAA=
		</data>
		<array>
			<integer>55755</integer>
		</array>
		<string>Setup:/Network/Service/215A515C-60D6-4A1C-811B-7393895F072F/IPv4</string>
	</array>
	<key>Setup:/Network/Service/215A515C-60D6-4A1C-811B-7393895F072F/IPv6</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4H9BWtp/AAA=
		</data>
		<array>
			<integer>55755</integer>
		</array>
		<string>Setup:/Network/Service/215A515C-60D6-4A1C-811B-7393895F072F/IPv6</string>
	</array>
	<key>Setup:/Network/Service/[^/]+</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIRwWtp/AAA=
		</data>
		<array>
			<integer>24835</integer>
			<integer>44059</integer>
			<integer>40923</integer>
			<integer>89603</integer>
		</array>
		<string>Setup:/Network/Service/0AB6DFB2-E28C-49D0-83CC-D35D513E79E9</string>
		<string>Setup:/Network/Service/10A6025B-F795-4334-8E4E-2A514F40CE8A</string>
		<string>Setup:/Network/Service/C8AEB452-8BA1-43A9-B94C-85DBACFD3DAD</string>
		<string>Setup:/Network/Service/0FF980AE-540D-4720-A7AF-7D8BC5C5BD16</string>
		<string>Setup:/Network/Service/215A515C-60D6-4A1C-811B-7393895F072F</string>
	</array>
	<key>Setup:/Network/Service/[^/]+/6to4</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIHpxWtp/AAA=
		</data>
		<array>
			<integer>45827</integer>
		</array>
	</array>
	<key>Setup:/Network/Service/[^/]+/DNS</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAcNNgWtp/AAA=
		</data>
		<array>
			<integer>24835</integer>
			<integer>31003</integer>
		</array>
	</array>
	<key>Setup:/Network/Service/[^/]+/IPSec</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQN1wWtp/AAA=
		</data>
		<array>
			<integer>31003</integer>
		</array>
	</array>
	<key>Setup:/Network/Service/[^/]+/IPv4</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAkMxgWtp/AAA=
		</data>
		<array>
			<integer>24835</integer>
			<integer>31003</integer>
			<integer>45827</integer>
		</array>
		<string>Setup:/Network/Service/0AB6DFB2-E28C-49D0-83CC-D35D513E79E9/IPv4</string>
		<string>Setup:/Network/Service/215A515C-60D6-4A1C-811B-7393895F072F/IPv4</string>
		<string>Setup:/Network/Service/10A6025B-F795-4334-8E4E-2A514F40CE8A/IPv4</string>
		<string>Setup:/Network/Service/C8AEB452-8BA1-43A9-B94C-85DBACFD3DAD/IPv4</string>
		<string>Setup:/Network/Service/0FF980AE-540D-4720-A7AF-7D8BC5C5BD16/IPv4</string>
	</array>
	<key>Setup:/Network/Service/[^/]+/IPv6</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMMtgWtp/AAA=
		</data>
		<array>
			<integer>24835</integer>
			<integer>31003</integer>
			<integer>45827</integer>
		</array>
		<string>Setup:/Network/Service/0AB6DFB2-E28C-49D0-83CC-D35D513E79E9/IPv6</string>
		<string>Setup:/Network/Service/215A515C-60D6-4A1C-811B-7393895F072F/IPv6</string>
		<string>Setup:/Network/Service/10A6025B-F795-4334-8E4E-2A514F40CE8A/IPv6</string>
		<string>Setup:/Network/Service/C8AEB452-8BA1-43A9-B94C-85DBACFD3DAD/IPv6</string>
		<string>Setup:/Network/Service/0FF980AE-540D-4720-A7AF-7D8BC5C5BD16/IPv6</string>
	</array>
	<key>Setup:/Network/Service/[^/]+/Interface</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAcJFwWtp/AAA=
		</data>
		<array>
			<integer>24835</integer>
			<integer>31003</integer>
			<integer>42619</integer>
			<integer>44891</integer>
			<integer>45827</integer>
			<integer>51459</integer>
			<integer>86039</integer>
		</array>
		<string>Setup:/Network/Service/215A515C-60D6-4A1C-811B-7393895F072F/Interface</string>
		<string>Setup:/Network/Service/0AB6DFB2-E28C-49D0-83CC-D35D513E79E9/Interface</string>
		<string>Setup:/Network/Service/0FF980AE-540D-4720-A7AF-7D8BC5C5BD16/Interface</string>
		<string>Setup:/Network/Service/10A6025B-F795-4334-8E4E-2A514F40CE8A/Interface</string>
		<string>Setup:/Network/Service/C8AEB452-8BA1-43A9-B94C-85DBACFD3DAD/Interface</string>
	</array>
	<key>Setup:/Network/Service/[^/]+/Modem</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAENlwWtp/AAA=
		</data>
		<array>
			<integer>31003</integer>
		</array>
		<string>Setup:/Network/Service/0FF980AE-540D-4720-A7AF-7D8BC5C5BD16/Modem</string>
	</array>
	<key>Setup:/Network/Service/[^/]+/PPP</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoIdwWtp/AAA=
		</data>
		<array>
			<integer>24835</integer>
			<integer>31003</integer>
		</array>
		<string>Setup:/Network/Service/0FF980AE-540D-4720-A7AF-7D8BC5C5BD16/PPP</string>
	</array>
	<key>Setup:/Network/Service/[^/]+/Proxies</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoNtgWtp/AAA=
		</data>
		<array>
			<integer>24835</integer>
		</array>
		<string>Setup:/Network/Service/10A6025B-F795-4334-8E4E-2A514F40CE8A/Proxies</string>
		<string>Setup:/Network/Service/0AB6DFB2-E28C-49D0-83CC-D35D513E79E9/Proxies</string>
		<string>Setup:/Network/Service/C8AEB452-8BA1-43A9-B94C-85DBACFD3DAD/Proxies</string>
		<string>Setup:/Network/Service/0FF980AE-540D-4720-A7AF-7D8BC5C5BD16/Proxies</string>
		<string>Setup:/Network/Service/215A515C-60D6-4A1C-811B-7393895F072F/Proxies</string>
	</array>
	<key>Setup:/Network/Service/[^/]+/SMB</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAkOFgWtp/AAA=
		</data>
		<array>
			<integer>24835</integer>
		</array>
	</array>
	<key>Setup:/Network/Service/[^/]+/VPN</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA8I1wWtp/AAA=
		</data>
		<array>
			<integer>24835</integer>
			<integer>31003</integer>
		</array>
	</array>
	<key>State:/IOKit/PowerSources/InternalBattery.*</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAkDJTWtp/AAA=
		</data>
		<array>
			<integer>83983</integer>
		</array>
	</array>
	<key>State:/Network/Global/DNS</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIIByWtp/AAA=
		</data>
		<array>
			<integer>81207</integer>
		</array>
		<string>State:/Network/Global/DNS</string>
	</array>
	<key>State:/Network/Global/IPv4</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAcABTWtp/AAA=
		</data>
		<array>
			<integer>73999</integer>
			<integer>80879</integer>
		</array>
		<string>State:/Network/Global/IPv4</string>
	</array>
	<key>State:/Network/Global/IPv6</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAFTWtp/AAA=
		</data>
		<array>
			<integer>73999</integer>
		</array>
	</array>
	<key>State:/Network/Interface</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoHFyWtp/AAA=
		</data>
		<array>
			<integer>71023</integer>
		</array>
		<string>State:/Network/Interface</string>
	</array>
	<key>State:/Network/Interface/[^/]+/ActiveDuringSleepRequested</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIIdxWtp/AAA=
		</data>
		<array>
			<integer>45827</integer>
		</array>
	</array>
	<key>State:/Network/Interface/[^/]+/AirPort</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoOBwWtp/AAA=
		</data>
		<array>
			<integer>31003</integer>
			<integer>36163</integer>
			<integer>45827</integer>
		</array>
		<string>State:/Network/Interface/en0/AirPort</string>
	</array>
	<key>State:/Network/Interface/[^/]+/EAPOL</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgEFhWtp/AAA=
		</data>
		<array>
			<integer>53523</integer>
			<integer>68891</integer>
		</array>
	</array>
	<key>State:/Network/Interface/[^/]+/IPv4</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUPNQWtp/AAA=
		</data>
		<array>
			<integer>16219</integer>
			<integer>36163</integer>
			<integer>61751</integer>
			<integer>73035</integer>
			<integer>75791</integer>
			<integer>77071</integer>
			<integer>77839</integer>
			<integer>84775</integer>
			<integer>86847</integer>
			<integer>65751</integer>
			<integer>47571</integer>
			<integer>91611</integer>
			<integer>68107</integer>
			<integer>89875</integer>
		</array>
		<string>State:/Network/Interface/lo0/IPv4</string>
		<string>State:/Network/Interface/en4/IPv4</string>
	</array>
	<key>State:/Network/Interface/[^/]+/IPv4ARPCollision.*</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAcIVxWtp/AAA=
		</data>
		<array>
			<integer>45827</integer>
		</array>
	</array>
	<key>State:/Network/Interface/[^/]+/IPv6</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA8PVQWtp/AAA=
		</data>
		<array>
			<integer>16219</integer>
			<integer>36163</integer>
			<integer>45827</integer>
			<integer>61751</integer>
			<integer>75791</integer>
			<integer>86847</integer>
		</array>
		<string>State:/Network/Interface/lo0/IPv6</string>
		<string>State:/Network/Interface/en4/IPv6</string>
		<string>State:/Network/Interface/awdl0/IPv6</string>
	</array>
	<key>State:/Network/Interface/[^/]+/Link</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4NFRWtp/AAA=
		</data>
		<array>
			<integer>44891</integer>
			<integer>45827</integer>
			<integer>62607</integer>
			<integer>68891</integer>
			<integer>60763</integer>
		</array>
		<string>State:/Network/Interface/p2p0/Link</string>
		<string>State:/Network/Interface/en0/Link</string>
		<string>State:/Network/Interface/en1/Link</string>
		<string>State:/Network/Interface/en2/Link</string>
		<string>State:/Network/Interface/awdl0/Link</string>
		<string>State:/Network/Interface/bridge0/Link</string>
		<string>State:/Network/Interface/en4/Link</string>
	</array>
	<key>State:/Network/Interface/[^/]+/LinkIssues</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYCNiWtp/AAA=
		</data>
		<array>
			<integer>77839</integer>
		</array>
	</array>
	<key>State:/Network/Interface/[^/]+/LinkQuality</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoGRyWtp/AAA=
		</data>
		<array>
			<integer>66411</integer>
		</array>
		<string>State:/Network/Interface/lo0/LinkQuality</string>
		<string>State:/Network/Interface/en0/LinkQuality</string>
		<string>State:/Network/Interface/en4/LinkQuality</string>
	</array>
	<key>State:/Network/Interface/[^/]+/RefreshConfiguration</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4LRBWtp/AAA=
		</data>
		<array>
			<integer>45827</integer>
		</array>
	</array>
	<key>State:/Network/Interface/awdl0/AirPort/[^/]+</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4CJRWtp/AAA=
		</data>
		<array>
			<integer>38915</integer>
		</array>
	</array>
	<key>State:/Network/Interface/en0/AirPort/[^/]+</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEHxwWtp/AAA=
		</data>
		<array>
			<integer>38915</integer>
			<integer>42407</integer>
			<integer>51999</integer>
			<integer>85103</integer>
		</array>
	</array>
	<key>State:/Network/Interface/p2p0/AirPort/[^/]+</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABNCWtp/AAA=
		</data>
		<array>
			<integer>38915</integer>
		</array>
	</array>
	<key>State:/Network/Protocol/IPv4/PortInUse/.*</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIGtyWtp/AAA=
		</data>
		<array>
			<integer>48663</integer>
		</array>
	</array>
	<key>State:/Network/Service/(null)/IPv4</key>
	<array>
		<data>
		ZfIAAAAAAAABAAAAAAAAAAAAAAAAAAAAgJ9yWtp/AAA=
		</data>
		<array>
			<integer>88851</integer>
			<integer>90115</integer>
		</array>
	</array>
	<key>State:/Network/Service/(null)/IPv6</key>
	<array>
		<data>
		ZfIAAAAAAAABAAAAAAAAAAAAAAAAAAAAIKRyWtp/AAA=
		</data>
		<array>
			<integer>88851</integer>
			<integer>90115</integer>
		</array>
	</array>
	<key>State:/Network/Service/215A515C-60D6-4A1C-811B-7393895F072F/IPv4</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUHtBWtp/AAA=
		</data>
		<array>
			<integer>55755</integer>
		</array>
	</array>
	<key>State:/Network/Service/215A515C-60D6-4A1C-811B-7393895F072F/IPv6</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4H1BWtp/AAA=
		</data>
		<array>
			<integer>55755</integer>
		</array>
	</array>
	<key>State:/Network/Service/[^/]+</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIdwWtp/AAA=
		</data>
		<array>
			<integer>24835</integer>
		</array>
	</array>
	<key>State:/Network/Service/[^/]+/DHCP</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIIBwWtp/AAA=
		</data>
		<array>
			<integer>24835</integer>
			<integer>25611</integer>
			<integer>38915</integer>
		</array>
		<string>State:/Network/Service/10A6025B-F795-4334-8E4E-2A514F40CE8A/DHCP</string>
	</array>
	<key>State:/Network/Service/[^/]+/DNS</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYNlgWtp/AAA=
		</data>
		<array>
			<integer>24835</integer>
		</array>
		<string>State:/Network/Service/10A6025B-F795-4334-8E4E-2A514F40CE8A/DNS</string>
	</array>
	<key>State:/Network/Service/[^/]+/IPSec</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwJJwWtp/AAA=
		</data>
		<array>
			<integer>24835</integer>
		</array>
	</array>
	<key>State:/Network/Service/[^/]+/IPv4</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA8M1gWtp/AAA=
		</data>
		<array>
			<integer>24835</integer>
			<integer>53523</integer>
			<integer>60763</integer>
		</array>
		<string>State:/Network/Service/10A6025B-F795-4334-8E4E-2A514F40CE8A/IPv4</string>
	</array>
	<key>State:/Network/Service/[^/]+/IPv6</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgNJgWtp/AAA=
		</data>
		<array>
			<integer>24835</integer>
		</array>
	</array>
	<key>State:/Network/Service/[^/]+/PPP</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIIJwWtp/AAA=
		</data>
		<array>
			<integer>24835</integer>
		</array>
	</array>
	<key>State:/Network/Service/[^/]+/Proxies</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA0N5gWtp/AAA=
		</data>
		<array>
			<integer>24835</integer>
		</array>
	</array>
	<key>State:/Network/Service/[^/]+/SMB</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwH5wWtp/AAA=
		</data>
		<array>
			<integer>24835</integer>
		</array>
	</array>
	<key>State:/Network/Service/[^/]+/VPN</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgJdwWtp/AAA=
		</data>
		<array>
			<integer>24835</integer>
		</array>
	</array>
	<key>opendirectoryd:records;(add|delete|modify);[^;]+;(dsRecTypeStandard:Automount|dsRecTypeStandard:AutomountMap|dsRecTypeStandard:Mounts).*</key>
	<array>
		<data>
		ZfIAAAAAAAACAAAAAAAAAAAAAAAAAAAAwL9gWtp/AAA=
		</data>
		<array>
			<integer>22543</integer>
		</array>
	</array>
	<key>opendirectoryd:records;delete;/Local/Default;dsRecTypeStandard:Users.*</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIMNhWtp/AAA=
		</data>
		<array>
			<integer>58895</integer>
			<integer>59919</integer>
		</array>
	</array>
	<key>opendirectoryd:records;modify;/Local/Default;dsRecTypeStandard:Users;[^;]+;(dsAttrTypeStandard:AuthenticationHint|dsAttrTypeStandard:RecordName|dsAttrTypeStandard:RealName|dsAttrTypeStandard:JPEGPhoto|dsAttrTypeStandard:Picture)</key>
	<array>
		<data>
		ZfIAAAAAAAABAAAAAAAAAAAAAAAAAAAAUBZCWtp/AAA=
		</data>
		<array>
			<integer>57907</integer>
		</array>
	</array>
	<key>opendirectoryd:records;modify;/Local/Default;dsRecTypeStandard:Users;[^;]+;(dsAttrTypeStandard:NFSHomeDirectory|dsAttrTypeStandard:UniqueID|dsAttrTypeStandard:GeneratedUID)</key>
	<array>
		<data>
		ZfIAAAAAAAABAAAAAAAAAAAAAAAAAAAAoCFyWtp/AAA=
		</data>
		<array>
			<integer>56183</integer>
		</array>
	</array>
	<key>opendirectoryd:records;modify;[^;]+;dsRecTypeStandard:Users;rubenariasjimenez;(dsAttrTypeStandard:RealName|dsAttrTypeStandard:RecordName|dsAttrTypeStandard:UniqueID|dsAttrTypeStandard:PrimaryGroupID|dsAttrTypeStandard:GeneratedUID|dsAttrTypeStandard:HomeDirectory|dsAttrTypeStandard:NFSHomeDirectory|dsAttrTypeStandard:Picture|dsAttrTypeStandard:JPEGPhoto)</key>
	<array>
		<data>
		ZfIAAAAAAAABAAAAAAAAAAAAAAAAAAAAcG1yWtp/AAA=
		</data>
		<array>
			<integer>67991</integer>
		</array>
	</array>
	<key>opendirectoryd:search;(add|delete|online|offline);[^;]+</key>
	<array>
		<data>
		ZfIAAAAAAAABAAAAAAAAAAAAAAAAAAAAgDVyWtp/AAA=
		</data>
		<array>
			<integer>47647</integer>
		</array>
	</array>
	<key>opendirectoryd:search;(delete|online|offline);[^;]+</key>
	<array>
		<data>
		ZfIAAAAAAAABAAAAAAAAAAAAAAAAAAAA0GVRWtp/AAA=
		</data>
		<array>
			<integer>22287</integer>
		</array>
	</array>
</dict>
</plist>
