<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10779</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/opendirectoryd:com.apple.opendirectoryd.trigger</string>
	</dict>
	<key>11279</key>
	<dict>
		<key>name</key>
		<string>com.apple.powerd:com.apple.configd.powermanagement</string>
	</dict>
	<key>11791</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/diskarbitrationd:com.apple.DiskArbitration.diskarbitrationd</string>
	</dict>
	<key>13827</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:InterfaceNamer</string>
	</dict>
	<key>15447</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/opendirectoryd:com.apple.opendirectoryd.searchpath.publish</string>
	</dict>
	<key>15855</key>
	<dict>
		<key>name</key>
		<string>com.apple.coreduetd:com.apple.coreduetd.radioprefs</string>
	</dict>
	<key>15911</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:Link Configuraton plug-in</string>
	</dict>
	<key>16219</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/opendirectoryd:com.apple.opendirectoryd</string>
	</dict>
	<key>17691</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:Kernel Event Monitor plug-in</string>
	</dict>
	<key>18179</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:PreferencesMonitor.bundle</string>
	</dict>
	<key>18435</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:PreferencesMonitor.bundle</string>
	</dict>
	<key>18947</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:EAPOLControlPrefs</string>
	</dict>
	<key>19215</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/opendirectoryd:com.apple.opendirectoryd.plistfile</string>
	</dict>
	<key>19607</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/symptomsd:com.apple.symptomsd</string>
	</dict>
	<key>20263</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/opendirectoryd:com.apple.opendirectoryd.modules.SystemCache</string>
	</dict>
	<key>22287</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/autofsd:(null)</string>
	</dict>
	<key>22543</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/autofsd:(null)</string>
	</dict>
	<key>23815</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:IPMonitorControlPrefs</string>
	</dict>
	<key>24835</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:IPMonitor</string>
	</dict>
	<key>25611</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:set-hostname</string>
	</dict>
	<key>26115</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:smb-configuration</string>
	</dict>
	<key>29503</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/kextd:com.apple.KernelExtensionServer</string>
	</dict>
	<key>30255</key>
	<dict>
		<key>name</key>
		<string>com.apple.blued:BlueD</string>
	</dict>
	<key>30775</key>
	<dict>
		<key>name</key>
		<string>com.apple.blued:IOBluetooth</string>
	</dict>
	<key>31003</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:SCNCController</string>
	</dict>
	<key>32007</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:PPPController</string>
	</dict>
	<key>32775</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:CaptivePrefs</string>
	</dict>
	<key>33295</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:CaptiveWebSheetHandler</string>
	</dict>
	<key>33807</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:Captive</string>
	</dict>
	<key>35659</key>
	<dict>
		<key>name</key>
		<string>com.apple.loginwindow:com.apple.loginwindow.SCDisconnectCallback</string>
	</dict>
	<key>36163</key>
	<dict>
		<key>name</key>
		<string>/usr/sbin/mDNSResponder:mDNSResponder:WatchForNetworkChanges</string>
	</dict>
	<key>36559</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:WiFiDebug</string>
	</dict>
	<key>38403</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:AirPort plug-in</string>
	</dict>
	<key>38915</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:AirPort plug-in</string>
	</dict>
	<key>39447</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/networkd:networkd.181</string>
	</dict>
	<key>39959</key>
	<dict>
		<key>name</key>
		<string>com.apple.cloudd:CloudKit</string>
	</dict>
	<key>40227</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>40923</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>42407</key>
	<dict>
		<key>name</key>
		<string>com.apple.locationd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>42619</key>
	<dict>
		<key>name</key>
		<string>com.apple.locationd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>43343</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>43655</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:IPConfigurationControlPrefs</string>
	</dict>
	<key>44059</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>44891</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:EAPOLController</string>
	</dict>
	<key>45315</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:IPConfiguration.DHCPClient</string>
	</dict>
	<key>45827</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:IPConfiguration</string>
	</dict>
	<key>46339</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:com.apple.sc.networking.internetsharing.preference</string>
	</dict>
	<key>47571</key>
	<dict>
		<key>name</key>
		<string>com.apple.imfoundation.IMRemoteURLConnectionAgent:com.apple.messagingagent</string>
	</dict>
	<key>47647</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:(null)</string>
	</dict>
	<key>48663</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:BTMMPortInUseAgent</string>
	</dict>
	<key>48991</key>
	<dict>
		<key>name</key>
		<string>CommCenter:com.apple.CommCenter:SCDisconnectCallBack</string>
	</dict>
	<key>51459</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>51999</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>53523</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:InternetSharingPrefPlugin</string>
	</dict>
	<key>54403</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:com.apple.WorkstationPlugIn</string>
	</dict>
	<key>55043</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:InternetSharingPrefPlugin</string>
	</dict>
	<key>55755</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>56183</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:(null)</string>
	</dict>
	<key>56687</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:SCUserEvents</string>
	</dict>
	<key>57135</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:SCUserEvents</string>
	</dict>
	<key>57907</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:(null)</string>
	</dict>
	<key>58383</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:SCUserEvents</string>
	</dict>
	<key>58895</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:(null)</string>
	</dict>
	<key>59451</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/wdhelper:wdhelper</string>
	</dict>
	<key>59919</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:(null)</string>
	</dict>
	<key>60763</key>
	<dict>
		<key>name</key>
		<string>com.apple.gamed:com.apple.gamekitservices.GKNATObserver.0x7f8fea658e90</string>
	</dict>
	<key>61455</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/corestoraged:com.apple.corestorage.corestoraged</string>
	</dict>
	<key>61751</key>
	<dict>
		<key>name</key>
		<string>com.apple.nsurlsessiond:com.apple.nsurlsessiond</string>
	</dict>
	<key>62607</key>
	<dict>
		<key>name</key>
		<string>com.apple.loginwindow:MCXloginPlugin</string>
	</dict>
	<key>63063</key>
	<dict>
		<key>name</key>
		<string>com.apple.loginwindow:ALSPlugin</string>
	</dict>
	<key>65355</key>
	<dict>
		<key>name</key>
		<string>com.apple.loginwindow:TISLogoutNotification</string>
	</dict>
	<key>65751</key>
	<dict>
		<key>name</key>
		<string>com.apple.imfoundation.IMRemoteURLConnectionAgent:com.apple.messagingagent</string>
	</dict>
	<key>65855</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:bluetoothFramework</string>
	</dict>
	<key>66411</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/symptomsd:com.apple.symptoms.analytics</string>
	</dict>
	<key>66747</key>
	<dict>
		<key>name</key>
		<string>com.apple.finder:watchForComputerNameChanges</string>
	</dict>
	<key>67683</key>
	<dict>
		<key>name</key>
		<string>com.apple.aps.framework:com.apple.applepushservice.ConsoleUser</string>
	</dict>
	<key>67991</key>
	<dict>
		<key>name</key>
		<string>com.apple.loginwindow:(null)</string>
	</dict>
	<key>68107</key>
	<dict>
		<key>name</key>
		<string>/System/Library/Frameworks/CoreServices.framework/Frameworks/Metadata.framework/Versions/A/Support/mdworker:com.apple.WebCore</string>
	</dict>
	<key>68783</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:CaptivePrefs</string>
	</dict>
	<key>68891</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:EAPOLMonitor</string>
	</dict>
	<key>69647</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:EAPOLControlPrefs</string>
	</dict>
	<key>70243</key>
	<dict>
		<key>name</key>
		<string>com.apple.sharingd:SDStatusMonitor::SMBPreferences</string>
	</dict>
	<key>70427</key>
	<dict>
		<key>name</key>
		<string>CommCenter:com.apple.CommCenter:SCDisconnectCallBack</string>
	</dict>
	<key>71023</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:SCMonitor</string>
	</dict>
	<key>71439</key>
	<dict>
		<key>name</key>
		<string>CommCenter:com.apple.CommCenter:registerForAirplaneModeNotifications</string>
	</dict>
	<key>72207</key>
	<dict>
		<key>name</key>
		<string>com.apple.sharingd:com.apple.sharingd</string>
	</dict>
	<key>73035</key>
	<dict>
		<key>name</key>
		<string>com.apple.imagent:com.apple.messagingagent</string>
	</dict>
	<key>73231</key>
	<dict>
		<key>name</key>
		<string>/System/Library/Frameworks/ApplicationServices.framework/Frameworks/ATS.framework/Support/fontd:com.apple.FontServer</string>
	</dict>
	<key>73767</key>
	<dict>
		<key>name</key>
		<string>/System/Library/Frameworks/ApplicationServices.framework/Frameworks/ATS.framework/Support/fontd:ATSServer</string>
	</dict>
	<key>73999</key>
	<dict>
		<key>name</key>
		<string>/System/Library/Frameworks/ApplicationServices.framework/Frameworks/ATS.framework/Support/fontd:com.apple.FontRegistry</string>
	</dict>
	<key>75635</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:AirPort plug-in</string>
	</dict>
	<key>75791</key>
	<dict>
		<key>name</key>
		<string>com.apple.nsurlsessiond:com.apple.nsurlsessiond</string>
	</dict>
	<key>76047</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:SCUserEvents</string>
	</dict>
	<key>76815</key>
	<dict>
		<key>name</key>
		<string>com.apple.identityservicesd:com.apple.IDSAppleRegistrationController</string>
	</dict>
	<key>7691</key>
	<dict>
		<key>name</key>
		<string>com.apple.powerd:powerd</string>
	</dict>
	<key>77071</key>
	<dict>
		<key>name</key>
		<string>com.apple.CalendarAgent:com.apple.mail</string>
	</dict>
	<key>77839</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/AirPlayXPCHelper:APBrowser:IPv4Listener</string>
	</dict>
	<key>78095</key>
	<dict>
		<key>name</key>
		<string>com.apple.systemuiserver:WiFiDebug</string>
	</dict>
	<key>78607</key>
	<dict>
		<key>name</key>
		<string>com.apple.systemuiserver:WiFiDebug</string>
	</dict>
	<key>79375</key>
	<dict>
		<key>name</key>
		<string>com.apple.WiFiProxy:WiFiDebug</string>
	</dict>
	<key>79631</key>
	<dict>
		<key>name</key>
		<string>com.apple.CalendarAgent.CalNCService:PCInterfaceUsabilityMonitor</string>
	</dict>
	<key>80075</key>
	<dict>
		<key>name</key>
		<string>com.apple.systemuiserver:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>80503</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/secd:com.apple.securityd.cloudcircleserver</string>
	</dict>
	<key>80879</key>
	<dict>
		<key>name</key>
		<string>/System/Library/Frameworks/ApplicationServices.framework/Frameworks/ATS.framework/Support/fontd:ATSServer</string>
	</dict>
	<key>81207</key>
	<dict>
		<key>name</key>
		<string>$(CFBundleIdentifier):com.apple.iCloudHelper</string>
	</dict>
	<key>81679</key>
	<dict>
		<key>name</key>
		<string>com.apple.CalendarAgent.CalNCService:PCInterfaceUsabilityMonitor</string>
	</dict>
	<key>81947</key>
	<dict>
		<key>name</key>
		<string>com.apple.CalendarAgent.CalNCService:PCInterfaceUsabilityMonitor</string>
	</dict>
	<key>82519</key>
	<dict>
		<key>name</key>
		<string>com.apple.wifi.WiFiAgent:WiFiDebug</string>
	</dict>
	<key>83483</key>
	<dict>
		<key>name</key>
		<string>com.apple.cloudpaird:bluetoothFramework</string>
	</dict>
	<key>83983</key>
	<dict>
		<key>name</key>
		<string>com.skype.skype:PowerSourceMonitorImpl</string>
	</dict>
	<key>84775</key>
	<dict>
		<key>name</key>
		<string>com.skype.skype:com.apple.WebCore</string>
	</dict>
	<key>85103</key>
	<dict>
		<key>name</key>
		<string>com.skype.skype:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>86039</key>
	<dict>
		<key>name</key>
		<string>com.skype.skype:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>86391</key>
	<dict>
		<key>name</key>
		<string>com.google.Chrome:org.chromium</string>
	</dict>
	<key>86719</key>
	<dict>
		<key>name</key>
		<string>/usr/sbin/netbiosd:com.apple.netbiosd</string>
		<key>sessionKeys</key>
		<array>
			<string>State:/Network/NetBIOS</string>
		</array>
	</dict>
	<key>86847</key>
	<dict>
		<key>name</key>
		<string>com.apple.AssetCacheLocatorService:com.apple.AssetCacheLocatorService.network-watcher</string>
	</dict>
	<key>87587</key>
	<dict>
		<key>name</key>
		<string>com.google.Chrome:org.chromium</string>
	</dict>
	<key>87823</key>
	<dict>
		<key>name</key>
		<string>com.google.Chrome:org.chromium</string>
	</dict>
	<key>88851</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>89099</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>89603</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>89875</key>
	<dict>
		<key>name</key>
		<string>/System/Library/Frameworks/CoreServices.framework/Frameworks/Metadata.framework/Versions/A/Support/mdworker:com.apple.WebCore</string>
	</dict>
	<key>90115</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>90571</key>
	<dict>
		<key>name</key>
		<string>com.apple.ImageCaptureExtension2:ImageCaptureAgent</string>
	</dict>
	<key>91611</key>
	<dict>
		<key>name</key>
		<string>com.tinyspeck.slackmacgap:com.apple.WebCore</string>
	</dict>
	<key>92743</key>
	<dict>
		<key>name</key>
		<string>com.jetbrains.PhpStorm:com.apple.configd.powermanagement</string>
	</dict>
	<key>93123</key>
	<dict>
		<key>name</key>
		<string>com.tinyspeck.slackmacgap:watchForComputerNameChanges</string>
	</dict>
	<key>93343</key>
	<dict>
		<key>name</key>
		<string>com.google.Chrome:watchForComputerNameChanges</string>
	</dict>
	<key>94599</key>
	<dict>
		<key>name</key>
		<string>/usr/sbin/scutil:scutil</string>
	</dict>
</dict>
</plist>
